:root {
    --bege: #fcf1d5;
    --bege-escuro: #bdb5a0;
    --preto: #000000;
    --vermelho-escuro: #7f0000;
    --vermelho: #fe0000;
    --fonte-titulo: 'Bebas Neue', sans-serif;
    --fonte-principall: 'Barlow', sans-serif;
    --fonte-cursiva: 'Cherish', cursive;
}